
@{
    ViewBag.Title = "Setup Roles and users";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Initial Roles and Users setup</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <input type="submit" value="Setup Roles and User for first use" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
